@use "variables" as v;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin upvote-button($bg-color, $arrow-color) {
  width: v.$size-upvote;
  height: v.$size-upvote;
  font-size: v.$icon-size;
  border-radius: v.$border-radius-button;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  @include flex-center;

  background-color: $bg-color;
  color: $arrow-color;
  &:hover {
    background-color: v.$color-button-hover;
  }
}

@mixin reset-button {
  width: v.$reset-width;
  height: v.$size-upvote;
  margin-top: 2rem;
  border-radius: v.$spacing-small;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  @include flex-center;
  font-weight: 600;
  color: #000;
  svg {
    padding-right: 5px;
    font-size: v.$icon-size;
  }
  &:hover {
    background-color: v.$color-button-hover;
    color: red;
  }
}

@mixin home {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: v.$home-padding;
  font-family: "Afacad Flux", sans-serif;
}

@mixin header {
  margin-bottom: 2.6rem;
  font-size: v.$header-font-size;
}
