@use "variables" as v;
@use "mixins" as m;

.upvote {
  @include m.upvote-button(v.$color-default-bg, v.$color-default-arrow);

  &.selected {
    @include m.upvote-button(v.$color-selected-bg, v.$color-selected-arrow);
  }
}

.upvote-list {
  display: flex;
  flex-wrap: wrap;
  width: v.$list-width;
  gap: v.$spacing-small;
  border: v.$list-container-border;
  border-radius: v.$border-radius;
  padding: v.$spacing-small;
}
.upvote-list-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 10px 0;
}
