$color-default-bg: #f4f6f8;
$color-default-arrow: #343a40;
$color-selected-bg: #e5e8fd;
$color-selected-arrow: #253cf2;
$color-button-hover: #ccc;

$size-upvote: 40px;
$border-radius: 6px;
$spacing-small: 8px;
$spacing-medium: 16px;

// @forward "variables";
